@media screen and (max-width: 360px){
 
 .tour--info{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-top: 0%;
 }

h1.tour--info-title{
   font-size: 200px;
}
p.tour--info-subtitle{
    font-size: 30px;
    margin-top: 2%;
}
}