@media screen and (max-width: 360px){
 
 .tour--info{
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-top: 0%;
 }

h1.tour--info-title{
   font-size: 150px;
   margin-top: 5%;
}
p.tour--info-subtitle{
    font-size: 25px;
    margin-top: 0%;
    margin-left: 2%;
}
}