@media screen and (max-width: 360px){
 .tour--img-chiva{
    top:40%;
   left: -4%;
   height:20%;
   width: 3%;
 

 }
 .tour--info{
     margin-bottom: 50%;

 }
 .tour--info-title{
     font-size:small;
 }
}
