
.tour{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    
    align-items: center;
    
}
.section{
    display: flex;
    
}
.title{
    font-size:100px;
    
}
.subtitle{
    font-size: x-large;
   
}
.show{
    display: flex;
    align-items:initial;
   
    
}

.concert{
    display: flex;
}