body{
    padding-right: 5%;
    
}
.tour{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
    position:absolute;
    
  
}
.tour--info{
    display: flex;
    
}

.tour--info-title{
    font-size:200px;
    margin-bottom: 0px;
}
.tour--info-subtitle{
    font-size: 30px; 
    line-height:0%;
    margin-left: 50px;
    margin-bottom: 0px;
}
.tour--info-header{
    margin-top: 5%;
}
.tour--img-chiva{
    
    width: 30%;
    margin-top: 10%;
}
.tour--concerts-links{
    display: flex;
}
.tour--concerts{
    display: flex; 
}
.tour--line-div{
    margin: 10px;
    height: 50%;
    width: 10%;
}
.tour--concerts-scroll{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    height: 30%;
    width: 42%;
    padding-top: 2%;
    cursor: pointer;  
}

.tour--concerts-scroll::-webkit-scrollbar {
    height: 20px;
    background: #fff;
    opacity: 80%;
}
.tour--concerts-scroll::-webkit-scrollbar-thumb {
     
    height: 20px;
    
    background:rgb(235, 233, 233);
    opacity: 80%;
}
.tour--concert-item{
    display: flex;
    margin-right: 20px;
    width: 500px;
     
}
.concert-icon{
    height: 35px;
    margin-bottom: 60%;
}
.concert-text{
    display: flex;
    margin-right: 20px;
    width: 500px;
    margin-top: 15%;
}
.concert--item-date{
    margin-right: 5%;
    text-align: center;
    line-height: 1%;
}  
.concert--item-day {
    margin-top: 25px;
    font-size:70px ;
font-weight: bolder
}
.concert--item-month{
    font-weight: bolder; 
    font-size:30px ;  
}

.concert--item-info{
    padding-right: 50px;
    border-bottom: 2px solid rgb(139, 139, 139);
    width: 175px;
    margin-top: 18%;
}

.item--info-name{
    margin-top: 0px;
    padding: 0px;
    font-size:20px ;
    font-weight: bold; margin-bottom: 90%; 
    margin-bottom: 40px;
}
.item--info-place{
    font-size:20px ;
    line-height: 0%;
     
}
.item--info-description{
    font-size:15px ;
    margin-top: 0px;
    opacity: 60%;
}

.concert--arrow-button{
    margin-top: 18%;
    padding-left: 50px;
    margin-right: 50px;
    border-bottom: 2px solid rgb(139, 139, 139);
}
.tour--concerts-button{

    display: flex;
    padding-top: 30px;
    padding-left: 30px;
    position: absolute;
    top: 82%;
    right: 50%;

}
.concerts--button-arrow{
    display: flex;
    flex-direction: row-reverse;
    
   width: 100px;
   height: 80px;
   align-items: center;
   justify-content: space-between;
   padding-left: 10px;
   background-color:rgb(66, 61, 61) ;
   color: white;
}
.concerts--button-img{
    width: 20px;
    height: 20px;
    
}

.active{
    background-color: white;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}
