
.tour{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
    
      
}
.chiva{
  margin-left: 150px;
  width: 40%;
  margin-top: 10%;
}
.info-tour{
    display: flex;
    margin-bottom: 10%;
}
.title{
    font-size:200px;
    margin-bottom: 0px;
}
.subtitle{
    font-size: x-large;
    font-weight: bolder;
    line-height:0%;
    margin-left: 50px;
    margin-bottom: 0px;
}
.date{
    margin-right: 5%;
    text-align: center;
    line-height: 1%;
}

.concerts{
    display: flex;
   
    
}
.scroll-concerts{
    display: flex;
    overflow: auto;
    width: 70%;
}
.concert-item{
    display: flex;
   
    width: 500px;  
   
}
.arrow{
margin-left: 50px;
}
.day{
    margin-top: 25px;
    font-size:70px ;
font-weight: bolder;
}
.month{
font-weight: bolder; 
font-size:30px ;
}
.name{
    margin-top: 0px;
    padding: 0px;
    font-size:20px ;
    font-weight: bold; margin-bottom: 90%; 
    margin-bottom: 40px;
}
.place{
    font-size:20px ;
    line-height: 0%;
  
    
}
.description{
    font-size:15px ;
    margin-top: 0px;
    opacity: 60%;
}
.arrowBtn{
    display: flex;
    flex-direction: row-reverse;
    
   width: 100px;
   height: 80px;
   align-items: center;
   justify-content: space-between;
   padding-left: 10px;
   background-color:rgb(66, 61, 61) ;
   color: white;
}
.flecha{
    width: 20px;
    height: 20px;
    color: white;
}